<input nbInput [(ngModel)]="movie" type="text" placeholder="movie name">
<input nbInput [(ngModel)]="actors" type="text" placeholder="actors">
<input nbInput [(ngModel)]="date" type="date" placeholder="date">
<input nbInput [(ngModel)]="rank" type="tel" placeholder="rank">
<input nbInput  [(ngModel)]="isNew" type="checkbox" placeholder="isNew">

<!-- <button nbButton (click)="insertMovie(movie,actors,date,rank,isNew)">insert a fucking movie </button> -->
<button nbButton (click)="insertMovie()">insert a fucking movie </button>
