<nb-card size="medium">
  <nb-card-header> Movie </nb-card-header>
  <nb-list>
    <nb-list-item>
      <p>name:</p>
      {{ movie.name }}
    </nb-list-item>
    <nb-list-item>
      <p>actors:</p>
      {{ movie.actors }}
    </nb-list-item>
    <nb-list-item>
      <p>isNew:</p>
      {{ movie.isNew }}
    </nb-list-item>
    <nb-list-item>
      <p>date:</p>
      {{ movie.date }}
    </nb-list-item>
    <nb-list-item>
      <p>rank:</p>
      {{ movie.rank }}
    </nb-list-item>
  </nb-list>
</nb-card>
